@media screen and (min-width:320px) {

    /* CSS Guide
    1. Main Nav
    2. Hero Image
    3. Products
    4. Video
    5. History
    6. Footer */

    /* 1. Main Nav */

    #main-header{
        background-color: #E09026;
        height: 83px;
    }

    #main-logo{
        order: -1;
        height: 83px;
        margin: 0px;
    }

    #burger-nav{
        height: 83px;
        margin: 0px;
    }

    #main-icon1{
        display: none;
    }
    #main-icon2{
        display: none;
    }
    #main-nav{
        display: none;
    }

    /* 2. Hero Image */

    #hero-image{
        height: 529px;
    }
    #hero-con{
        height: 805px;
        background-color: #822021;
        align-items: center;
    }

    /* 3. Products */

    #products{
        height: 1792px;
        background-color: #208281;
        align-items: center;
    }
    #products h2{
        height: 88px;
    }
    .product-complete{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(27, 27, 27);
        text-align: center;
        margin-top: 10px;
        margin-bottom:10px;
    }
    .box-products{
        height: 383px;
        background-color: brown;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 25px;  
        padding: 20px;
    }
    .button-products{
        height: 58px;
        background-color: #d94b4b;
        width: 50%;
        border-radius: 5px;
        padding: 20px;
    }

    /* 4. Video */

    #video-box{
        padding: 0px;
    }
    #video-full{
        height: 775px;
        margin: 0px;
        padding: 20px;
    }

    /* 5. History */

    #history{
        background-color: brown;
        height: 977px;
        align-items: center;
    }
    #history-title{
        height: 81px;
    }
    #history-image{
        height: 299px;
    }
    #text-history{
        height: 215px;
        background-color: bisque;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 20px;
    }
    #button-history{
        height: 49px;
        background-color: bisque;
        width: 50%;
        border-radius: 5px;
        padding: 20px;
    }

    /* 6. Footer */

    footer{
        height: 727px;
        background-color: blanchedalmond;
        align-items: center;
    }
    #nav-footer{
        height: 49px;
    }
    #footer-newsletter{
        height: 49px;
    }
    #signup-footer{
        height: 49px;
    }
    #button-footer{
        height: 49px;
    }
    #text-footer{
        height: 40px;
    }
    .socialmedia-footer{
        height: 50px;
    }
    #terms-footer{
        height: 48px;
    }
}


@media screen and (min-width:768px) {

    /* CSS Guide
    1. Main Nav
    2. Products
    3. Video
    4. History
    5. Footer */

    /* 1. Main Nav */

    #main-logo{
        order: -1;
    }

    /* 2. Products */

    #products{
        height: 1144px;
        background-color: #208281;
    }
    #product-title{
        height: 88px;
    }
    .box-products{
        height: 294px;
        background-color: brown;
    }
    .button-products{
        height: 58px;
        background-color: #d94b4b;
    }

    /* 3. Video */

    #video-full{
        height: 788px;
    }

    /* 4. History */

    #history{
        background-color: brown;
        height: 1200px;
    }
    #history-title{
        height: 45px;
    }
    #history-image{
        height: 389px;
    }
    #text-history{
        height: 341px;
    }
    #button-history{
        height: 77px;
    }

    /* 5. Footer */

    footer{
        height: 634px;
        background-color: blanchedalmond;
    }
    #nav-footer{
        height: 42px;
    }
    #footer-newsletter{
        height: 42px;
    }
    #signup-footer{
        height: 48px;
    }
    #button-footer{
        height: 41px;
    }
    #text-footer{
        height: 41px;
    }
    .socialmedia-footer{
        height: 42px;
    }
    #terms-footer{
        height: 42px;
    }

}

@media screen and (min-width:1200px) {

      /* CSS Guide
    1. Main Nav
    2. Hero Image
    3. Products
    4. Video
    5. History
    6. Footer */

    /* 1. Main Nav */

    #main-header{
        background-color: #E09026;
        height: 111px;
    }

    #burger-nav{
        display: none;
    }

    #main-logo{
        height: 111px;
    }
    #main-icon1{
        display: block;
        height: 111px;
        margin: 0;
    }
    #main-icon2{
        display: block;
        height: 111px;
        margin: 0;
    }
    #main-nav{
        display: block;
        height: 111px;
        margin: 0;
    }

    /* 2. Hero Image */

    #hero-image{
        height: 505px;
    }
    #hero-con{
        height: 800px;
        background-color: #822021;
    }

    /* 3. Products */

    #products{
        height: 1753px;
        background-color: #208281;
    }
    #product-title{
        height: 136px;
    }
    .box-products{
        height: 451px;
        background-color: brown;
    }
    .button-products{
        height: 90px;
        background-color: #d94b4b;
    }

    /* 4. Video */

    #video-full{
        height: 972px;
    }

    /* 5. History */

    #history{
        background-color: brown;
        height: 891px;
    }
    #history-title{
        height: 112px;
    }
    #history-image{
        height: 548px;
    }
    #text-history{
        height: 409px;
    }
    #button-history{
        height: 90px;
    }

    /* 6. Footer */

    footer{
        height: 481px;
        background-color: blanchedalmond;
    }
    #nav-footer{
        height: 65px;
    }
    #footer-newsletter{
        height: 65px;
    }
    #signup-footer{
        height: 65px;
    }
    #button-footer{
        height: 65px;
    }
    #text-footer{
        display: none;
    }
    .socialmedia-footer{
        height: 65px;
    }
    #terms-footer{
        height: 65px;
    }
}

@media screen and (min-width:1920px) {

      /* CSS Guide
    1. Hero Image
    2. Products
    3. History
    4. Footer */

    /* 1. Hero Image */

    #hero-image{
        height: 1299px;
    }
    #hero-con{
        height: 1594px;
        background-color: #822021;
    }

    /* 2. Products */

    #products{
        height: 2063px;
        background-color: #208281;
    }
    #product-title{
        height: 136px;
    }
    .box-products{
        height: 451px;
        background-color: brown;
    }
    .button-products{
        height: 125px;
        background-color: #d94b4b;
    }

    /* 3. History */
    #history{
        background-color: brown;
        height: 1086px;
    }
    #history-title{
        height: 112px;
    }
    #history-image{
        height: 548px;
    }
    #text-history{
        height: 352px;
    }
    #button-history{
        height: 124px;
    }

    /* 4. Footer */

    footer{
        height: 651px;
        background-color: blanchedalmond;
    }
    #nav-footer{
        height: 104px;
    }
    #footer-newsletter{
        height: 104px;
    }
    #signup-footer{
        height: 104px;
    }
    #button-footer{
        height: 104px;
    }
    .socialmedia-footer{
        height: 104px;
    }
    #terms-footer{
        height: 104px;
    }
}